<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="main-container">
        <div class="header">
            <h1>Find Meals For Your Ingredients</h1>
            <div class="quote">
                <blockquote>Real food don't have ingredients, real food is ingredients</blockquote>
                <cite>-- Jamie Oliver</cite>
            </div>
            <div class="search-box">
                <input type="text" class="enter-recipe" placeholder="Enter an ingredient">
                <button type="submit" class="search-recipe">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
        <div class="recipe-container">
            <h1>Your Search Results:</h1>
            <div class="row">
                <!-- <div class="colm">
                   <div class="inner-colm">
                       <div class="content">
                           <div class="image">
                               <img src="images/food-1.jpg" alt="">
                           </div>
                           <div class="text">
                               <h2>this is food</h2>
                               <a href="#" class="recipe-btn">Get Recipe</a>
                           </div>
                       </div>
                   </div>
               </div> -->

            </div>
        </div>

        <div class="popup-div">
            <!-- <i class="far fa-times-circle fa-3x cancle-icon"></i> -->
            <!-- <h2>Meal Name Here</h2>
            <h3>Category Name</h3>
            <h3>Insturctions:</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam sit sunt optio vero explicabo illum
                soluta nihil, voluptates aperiam suscipit! At ipsa nihil, saepe placeat eos deserunt voluptatibus
                eveniet, porro quidem unde exercitationem. Laudantium deleniti reiciendis eum placeat ratione
                consequatur voluptatem ducimus tenetur recusandae. Nam hic quisquam soluta deserunt officia!</p>
            <div class="vedio-thumbnail">
                <img src="images/food-1.jpg" alt="">
            </div>
            <a href="#">Watch Video</a> -->
        </div>
    </div>
    <script src="index.js"></script>
</body>

</html>